<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/normalize.css">
    <script src="prefixfree.min.js"></script>
    <title>UrnaVirtual</title>
</head>
<body>
    <div class="header">
        <div class="place">
            <img src="assets/logo unilavras.png">
        </div>
        <div class="place">
            <h1>Urna Virtual</h1>
        </div>                    
        <div class="place">
            <nav>                    
                <a href="formularioEleitor.html">Eleitor</a>
                <a href="formularioCandidato.html">Canditado</a>
                <a href="formularioVotacao.html">Votação</a>            
            </nav>
        </div>               
    </div>
    

    <script src="jquery.min.js"></script>    
</body>
</html>
<!-- http://127.0.0.1:5500/index.html -->